#############################
# TYPO3 CMS Base Distribution
#############################
.DS_Store
.idea
!.gitkeep
/.env
/vendor
/web/fileadmin/_temp_
/web/fileadmin/_processed_
/web/fileadmin/user_upload/_temp_
/web/index.php
/web/typo3
/web/typo3conf
!/web/typo3conf/LocalConfiguration.php
!/web/typo3conf/AdditionalConfiguration.php
/web/typo3temp
